# Include the README file
include ../../README.md

# Include the LICENSE file
include ../../LICENSE

# Include model task
include ./liveness_detector/model/face_landmarker.task

#include default font
include ./liveness_detector/fonts/DejaVuSans.ttf

# Include all files in the livenessDetectorServerApp/gestures directory, recursively
recursive-include ./liveness_detector/gestures *

# Include JSON files in the livenessDetector directory
recursive-include ./liveness_detector *.json

# Include images in the gestures/icons directories
recursive-include ./liveness_detector/gestures/icons *.png